@CHARSET "UTF-8";

#blog_wrapper {

	margin : 12px 0 0 0;
}

#blog_wrapper aside {
	margin-left: 0;
	border : 1px solid #0f0;
}

#blog_wrapper > #blog_title {
	border : 1px solid #f00;
	width  : 100%;
	height : 100px;
	background-color: #ccc;
}

/*サイドメニュー*/
#blog_wrapper > #secondary {
	float : left;
	width : 200px;
}

#blog_wrapper > #secondary aside {

	border  : 1px solid #a27658;
	margin  : 0 0 12px 0;
	padding : 8px;
	border-radius: 6px;
}

#blog_wrapper > #secondary aside img {

	display : block;
	margin  : 0 auto;
}

#blog_wrapper > #secondary aside div.textwidget dl{
}

#blog_wrapper > #secondary aside div.textwidget dt{
	float : left;
	width : 4em;
}

#blog_wrapper > #secondary aside div.textwidget dd {
	margin: 0 0 0 5em;
}

#blog_wrapper > #secondary aside div.textwidget dd:before{
	content: ': ';
}

#blog_wrapper > #secondary aside ul{
	list-style : none;
	margin : 0;
	padding : 0;
}

#blog_wrapper h2.widget-title {
	text-align : center;
	margin     : 0 0 0 0;
	color      : #333;
	display    : block;
}

img#wpstats {
	display : none;
	visibility : hidden;
}

#blog_contents {
	margin: 0 0 32px 216px;
}

div#blog_contents h2,
div#blog_contents h1 {
	border-bottom : 4px dotted #a27658;
	color         : #a27658;
	font-size     : 232%;
	font-weight   : lighter;
	margin        : 0;
	padding       : 0;
	width         : calc(100% - 216px);
}

div#blog_contents h1 a {
	color         : #a27658;
}

div#blog_contents div.entry-date {
	text-align : right;
	font-size  : 108%;
	margin     : 4px 4px 0 0;
}

div#blog_contents h2 a {
	color : #a27658;
}


div#blog_contents div#comments {
	margin : 0 0 0 0;
}

div#blog_contents article.list {

	border-bottom : 1px solid #a27658;
	padding : 8px 0;
	margin  : 4px 0 0 0;
}

div#blog_contents h2.entry-title {
	border-bottom : none;
	color         : #a27658;
	font-size     : 167%;
	font-weight   : bold;
	margin        : 0;
	padding       : 0;
}

div#widget-area aside#archives-2 ul {

	height : 100px;
	overflow-y: scroll;
}

div#blog_contents div.thumb {
	float : left;
	position:relative;
	border : 1px solid #999;
	width : 90px;
	height: 90px;
	overflow : hidden;
}

div#blog_contents div.thumb img {
	max-width : 128px;
	max-height: 128px;
	top     : -10px;
	left    : -20px;
}

div#blog_contents div.entry-content a {

	color : #0066cc;
	/*text-decoration : underline;*/
}

div#blog_contents div.entry-content a:hover {

	color           : #333;
	text-decoration : none;
}


div#blog_contents div.thumb div.no_image {
	border : 1px solid #999;
	width : 98px;
	height: 98px;
}

div#blog_contents div.description {
	font-size : 123.1%;
	margin : 4px 0 8px 0;
	color: #00A0E9;
	font-weight: bold;
}

div#blog_contents div.detail {
	margin : 0 0 0 108px;
}

div#blog_contents article {
	/*float : none;*/
	width : 100%;
}

div#blog_contents div.entry-date {
	float : right;
}

div#blog_contents article.list p {
	font-size       : 123.1%;
	line-height     : 140%;
	margin          : 0;
}

div#blog_contents article .alignright {
	float: right;
	margin: 1.5em 0 0.5em 1.0em;
}

div#blog_contents article .alignleft {
	float: left;
	margin: 1.5em 1.0em 0.5em 0;
}

div#blog_contents article .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#blog_contents article p {
	font-size       : 123.1%;
	line-height     : 175%;
}

div#blog_contents article header {
	min-height : auto;
}

ul#pagenavi {
	list-style : none;
	font-size : 123.1%;
	/*border : 1px solid #999;*/
	margin : 0;
	padding : 0;
}

#pagenavi {
    margin-top: 2em;
}
 
#pagenavi .prev a,
#pagenavi .next a{
 
    margin:  12px;
    padding: 0;
}


span.comments-link {
	display : block;
	font-size : 108%;
	background : transparent url(../img/edit.png) no-repeat 0 2px;
	text-indent : 1.5em;
}

nav.navigation {
	margin : 8px auto;
	width : 100%;
}

nav.navigation span {
	display: inline;
	visibility: visible;
	margin : 0 0 0 8px;
}

div.nav-links a.next {
	margin : 0 0 0 8px;
}

nav.navigation span.current {
	font-weight: bold;
}

nav.post-navigation {

	display    : none;
	visibility : hidden;
}

/*　タブレットなど 481px～960px（960px以下） まで
========================================================================================================================================================================*/

@media screen and (max-width: 960px) {

}

/* スマホ・小型タブレット 480pxまで（480px以下）
========================================================================================================================================================================*/

@media screen and (max-width: 480px) {

	#blog_contents {
		margin: 0 0 0 0;
		width : 100%;
	}

	div#blog_contents article {
		float : left;
		/*width : 100%;*/
	}
	
	div#blog_contents h2,
	div#blog_contents h1 {
		width : 100%;
		max-width : calc(100% - 8px);
	}
	div#blog_contents img {
		max-width : calc(100% - 8px);
	}
	
	div#blog_contents article .aligncenter,
	div#blog_contents article .alignleft,
	div#blog_contents article .alignright {
		float: none;
		margin: 0 0 0 0;
    }

	div#blog_contents article .alignleft img,
	div#blog_contents article .alignright img {

    }
   
    div#blog_contents div.thumb img {
		width : 90px;
	}
    div#blog_contents header {
		min-width : 300px;
	}
	div.comment-respond textarea {
		width : 96%;
		max-width : calc(100% - 32px);
	}
	div.comment-respond input {
		max-width : 160px;
	}
}

