#voice > h2 { margin-bottom: 50px; font-size: 26px; font-weight: bold; text-align: center; }
@media screen and (max-width: 767px) { #voice > h2 { margin-bottom: 3%; } }

.voice_list { justify-content: flex-start; flex-wrap: wrap; padding-bottom: 40px; }
.voice_list > li { width: 30%; margin: 20px 1.5%; position: relative; }
@media screen and (max-width: 767px) { .voice_list > li { margin: 0px; } }
.voice_list > li a { display: block; }
.voice_list > li a:hover .voice_summary { background: rgba(255, 255, 255, 0.5); color: #000; }
.voice_list > li .photo { height: 270px; display: flex; justify-content: center; width: 100%; overflow: hidden; padding-bottom: 10px; }
.voice_list > li .photo img { width: auto; height: 300px; }
.voice_list > li .voice_summary { position: absolute; text-align: center; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); transition: 0.5s; color: #FFF; }
.voice_list > li .voice_summary .description { margin: 90px 20px 20px 20px; font-size: 1.8rem; font-weight: bold; }
@media screen and (max-width: 767px) { .voice_list { padding-bottom: 5%; }
  .voice_list > li { width: 100%; margin-bottom: 3.125vw; }
  .voice_list > li .photo { width: auto; height: 50vw; margin-bottom: 0; padding-bottom: 0; }
  .voice_list > li a { display: block; }
  .voice_list > li p { font-size: 1.0rem; }
  .voice_list > li .voice_summary .description { margin: 15% 3% 3% 3%; font-size: 1.6rem; } }

.voiceDetail .voiceDetailTtl { position: relative; height: 450px; overflow: hidden; background: #000; }
.voiceDetail .voiceDetailTtl img { width: 100%; margin-top: -20%; opacity: 0.6; filter: blur(15px); animation: blur 1s ease 0s; }
.voiceDetail .voiceDetailTtlInner { position: absolute; text-align: center; }

@keyframes blur { 0% { filter: blur(0px); opacity: 1; }
  100% { opacity: 0.6; filter: blur(15px); } }
